

<div class="container masthead"> 
  <div class="row">
    <div class="col-sm-12 center">
      <p class="bigtitle">Snoozr</p>
    <h3>THE GA NAP APP</h3>
      <div class=""> <!-- render login form--> </div>
      <!-- Not a user? Sign Up! -> send to users#new -->
    </div>
  </div>
</div>

