<h1>This is the users/index/html page </h1>
<h2>This is where I will put all my bootstrap shit</h2>
<div class="container-fluid">
	
	<div class="masthead">
		<h1 class="text-muted">Coffeeshop</h1>
	</div>

	<!-- Jumbotron -->
	<div class="jumbotron">
		<h1>Snoozr</h1>
		<p class="lead">Caught sleeping at GA</p>
	</div>

	<!-- Example row of columns -->
    <div class="row">

        <div class="col-lg-4">

          <h2>Heading</h2>
          <p class="text-danger">Blah Blah</p>
          <p>Keep your heart, Three Stacks, keep your heart. Play your part. On the oak tree, I hope we feel like this forever. Forever ever? But I know you wanted that 808. Can you feel that B-A-S-S bass? Ah ha, hush that fuss. Everybody move to the back of the bus. Do you wanna bump and slump with us? We the type of people that make the club get crunk. As the plot thickens it gives me the dickens, reminiscent of Charles. When I met my SpottieOttieDopalicious angel, I can remember the damn thing like yesterday.</p>
          <p><%= link_to "Link", '#', class: "btn btn-primary" %></p>
        </div>

        <div class="col-md-4">
        <h2>Whatever</h2>
			<p>
			You are now watching the throne, don't let me get in my zone. You tellin' me people don't look at Kanye West like the glitch?
			</p>
		</div>

		 <div class="col-lg-4">
          <h2>Something</h2>
          <p>Allow me to reintroduce myself. I invented swag. Poppin' bottles, puttin' supermodels in the cab. Yo, I'm makin' short term goals, when the weather folds.</p>
          <p><%= link_to "Link", '#', class: "btn btn-primary" %></p>
        </div>

	</div>


</div>