<h1>This is the users/index/html page </h1>
<h2>This is where I will put all my bootstrap shit</h2>
<div class="container-fluid">
	
	<div class="masthead">
		<h1 class="text-muted">Coffeeshop</h1>
	</div>

	<!-- Jumbotron -->
	<div class="jumbotron">
		<h1>Jason's Special Blend Coffee</h1>
		<p class="lead">The best coffee on the West Coast. Order 5 and get one free today.</p>
		<p><%= link_to "Buy Today", root_url, class: "btn btn-large btn-success" %></p>
	</div>

	<!-- Example row of columns -->
    <div class="row">

        <div class="col-lg-4">

          <h2>How good is the coffee?</h2>
          <p class="text-danger">Warning!</p>
          <p>This coffee is so good that you will never want to drink any other brew again! We have a 100% satisfaction guarantee, if you are not satisfied, we will return your money no questions asked.</p>
          <p><%= link_to "Read testimonials", '#', class: "btn btn-primary" %></p>
        </div>

        <div class="col-md-4">
        <h2>About</h2>
			<p>
			Our family heritage is deeply ingrained from the city of London. We began brewing coffee since the days of King George III. We have maintained a culuture of excellence since 1738.
			</p>
		</div>

		 <div class="col-lg-4">
          <h2>Buy</h2>
          <p>Shop through a wide selection of our products. We offer the finest coffee in the world. As our tagline goes: "We're not too expensive, you're too cheap."</p>
          <p><%= link_to "Shop now", '#', class: "btn btn-primary" %></p>
        </div>

	</div>


</div>