<h1>All posts</h1>

<p>This is where images will show for all users</p>
<p>Added by <%= @post.user.name %> -- <%= @post.date_added %> </p>

<!-- @posts.each do |post|
image
comment -->

<!-- link to add a new post -->