
<div class="row">
	<div class="col-lg-6 col-lg-offset-4">
	<h1>All posts</h1>
		<% @posts.reverse_each do |p| %>
		<%= image_tag p.image.url, :size => "360x360", :crop => :fill %>
		<p>
		<%= link_to "Edit", post_path(p) %>
		</p>
		<% end %>
	</div>
</div>


<div class="row centered">
	<div class="col-lg-6 col-lg-offset-3"> 

		<% if current_user %> <!-- if a user is logged in -->
			<%= link_to new_post_path, class: 'btn btn-success' do %>
		  	<i class="glyphicon glyphicon-plus"></i> Add snoozr
				<% end %>
			<% else %> <!-- otherwise they must sign up -->
				<%= link_to new_user_path, class: 'btn btn-success' do %>
  			<i class="glyphicon glyphicon-plus"></i> Sign Up to upload
				<% end %>
		<% end %>
	</div>
</div>