// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

// Define variables
// $main-color: #3a5795;
// $background-color: #edf0f5;
// $text-gray-color: #7f7f7f;
// $link-blue-color: #3b5998;

// Font
$font: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	background:#FFF;
	position:relative;
}

a {
	color:#61c15d;
}

a:hover, a:focus {
	color:#63c960;
}

.bigtitle {
	font-size: 90px;
	line-height: 70px;
	// font-family: bebas_neueregular;
	color: #181818;
}

.fader img {
	margin-top:50px;
	opacity: 0.5;
}

.fader img:hover { 
	margin-top:50px;
	opacity: 1; 
}

 .navbar .navbar-btn {
margin-top: 20px;
background: transparent;
text-shadow: none;
border: 0;
box-shadow: none;
}
 .navbar .navbar-btn:hover {
 background: transparent;
}
 .navbar-fixed-top.navbar-absolute {
 position: absolute;
 margin: 0;
}
 .navbar-collapse .nav > li > a:hover, .navbar-collapse .nav > li > a:focus, .navbar-collapse .dropdown-menu a:hover, .navbar-collapse .dropdown-menu a:focus {
 background:transparent;
}

.masthead{
	padding-top:100px;
}